<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anteater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Anteater.Properties.Settings>
            <setting name="messageTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SocketTimeoutException</string>
                        <string>KeepAlive</string>
                        <string>MLAPI</string>
                        <string>JSON</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="interestingStrings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Connecting</string>
                        <string>connecting</string>
                        <string>Connected</string>
                        <string>connected</string>
                        <string>Created</string>
                        <string>created</string>
                        <string>Creating</string>
                        <string>creating</string>
                        <string>Destroying</string>
                        <string>destroying</string>
                        <string>Destroyed</string>
                        <string>destroyed</string>
                        <string>Error</string>
                        <string>error</string>
                        <string>Exception</string>
                        <string>exception</string>
                        <string>Exist</string>
                        <string>exist</string>
                        <string>Exit</string>
                        <string>exit</string>
                        <string>Failed</string>
                        <string>failed</string>
                        <string>Initialized</string>
                        <string>initialized</string>
                        <string>Initializing</string>
                        <string>initializing</string>
                        <string>Network</string>
                        <string>network</string>
                        <string>Remove</string>
                        <string>remove</string>
                        <string>Removed</string>
                        <string>removed</string>
                        <string>Removing</string>
                        <string>removing</string>
                        <string>Stopping</string>
                        <string>stopping</string>
                        <string>Timed</string>
                        <string>timed</string>
                        <string>Trying</string>
                        <string>trying</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Anteater.Properties.Settings>
    </userSettings>
</configuration>